<div [ngClass]="alerta" class="alert" role="alert">
    A simple primary alert—check it out!
</div>

<button class="btn btn-info" (click)="alerta = 'alert-info'">Info</button>
<button class="btn btn-success" (click)="alerta = 'alert-success'">Success</button>

<br><br>

<h3 [ngClass]="{'text-info': propiedades.danger, 'text-danger': !propiedades.danger }">Hola mundo!</h3>
<button class="btn" (click)="propiedades.danger = !propiedades.danger" [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}">
    Cambiar
</button>

<br><br>

<button class="btn btn-primary" type="button" name="button" (click)="ejecutar()" [disabled]="loading">
    <i [ngClass]="{ 'fa-save': !loading, 'fa-sync-alt fa-spin': loading }" class="fas"></i>
    <span *ngIf="!loading"> Guardar cambios</span>
    <span *ngIf="loading"> Espere por favor!</span>
</button>